.input-box{
    border: none;
    border: 1px solid black;
}
#particlesBG{
    position: absolute;
    z-index: -1;
}
.bg-ksr{
    background-color: rgb(21, 0, 117);
}
.icons{
    font-size: clamp(2rem, 1vw, 3rem);
    
}
.icons a{
    color: rgb(0, 0, 0);
    transition-duration: .3s;
}